<div ng-controller="infoController">
    <section class="full-width-grid">
        <div class="account-table common-pad">
            <h1>Diamond Game</h1>
        </div>
        <section class="content-wrapper">
            <div class="account-table common-pad">
                <h2>Rules of the Game</h2>
                <ul class="rules">
                    <li>A board of NxN with all cells coloured light grey. </li>
                    <li>Board size should be configurable based on the level of the game selected by the user on UI :
                        <p>Easy: 3X3</p>
                        <p>Medium: 4X4</p>
                        <p>Hard: 6X6</p>
                    </li>
                    <li>On game start, in every 1 second, a random cell is highlighted in green for 1 second.</li>
                    <li>If the user clicks the highlighted cell then score is incremented by 1.</li>
                    <li>If the user clicks any unhighlighted cell then score is decremented by 1. Score cannot go below 0..</li>
                </ul>
                <h2>Please Enter your Name and let's play</h2>
                <form name="form" ng-submit="submitForm(form.$valid)" novalidate>
                    <div class="modal-body">
                        <!-- NAME -->
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control" ng-model="user.name" required>
                            <p ng-show="form.name.$error.required" class="help-block">Your
                                name is required.</p>
                        </div>
                        <div class="form-group">
                            <label>Select Mode</label>
                            <select id="client" name="service_id" ng-model="user.modeSelected">
                                <option value="3">Easy</option>
                                <option value="4">Medium</option>
                                <option value="6">Tough</option>
                            </select>
                            <p ng-show="form.service_id.$error.required"
                                class="help-block">Select Mode.</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn" ng-disabled="form.$invalid">Let's Play</button>
                    </div>
                </form>
            </div>
        </section>
    </section>
</div>